.AboutUs{
    position: sticky;
    top: 10vh;
    z-index: 10;
}
.Mission{
    position: sticky;
    top: 10vh;
    z-index: 11;
}
.Vision{
    position: sticky;
    top: 10vh;
    z-index: 12;
}
.Value{
    position: sticky;
    top: 10vh;
    z-index: 13;
}
